<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Practo Mailer</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="/static/css/simple-sidebar.css" rel="stylesheet">
    <link href="/static/css/mailer.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">

  </head>

  <body>
  
    <div id="wrapper">
      
      <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li class="sidebar-brand"><a href="/">Home</a></li>
          <li><a href="/patients/">Patients</a></li>
          <li><a href="/email/">Mailer</a></li>
          <li><a href="/sent/">Sent Mail</a></li>
        </ul>
      </div>
      <!-- Page content -->
      <div id="page-content-wrapper">
        {% block content %}{% endblock %}
      </div>
      
    </div>
	
    <!-- JavaScript -->
    <script src="/static/js/jquery-1.10.2.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/mailer.js"></script>

    <!-- Custom JavaScript for the Menu Toggle -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
    });
    
    </script>
  </body>
</html>